@model List<TeamMember>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}


<a class="btn btn-primary">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">Profession</th>
            <th scope="col">Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@count</th>
            <td>@item.FullName</td>
            <td>@item.Profession</td>
            <td>@item.Desc</td>
            <td>@item.Image</td>
            <td>
                <a asp-action="edit" asp-route-id="@item.Id" class="text-warning">Edit</a>
                <a asp-action="delete" asp-route-id="@item.Id" class="text-dager">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>